* { margin: 0;
    padding: 0;
}

@font-face { 
    font-family: 'barroTitulos';
    src: url(../resourses/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf)  
}
@font-face {
    font-family: 'barroMenu';
    src: url(../resourses/fonts/Montserrat-Light.ttf) }

@font-face {
    font-family: 'Chalet';
    src: url(../resourses/fonts/chaletLondon1970.otf);
}    

header {
    background-color: #B05228;
    padding-right: 20px;
    height: 80px;
}

ul.menu {
    font-family: 'barroTitulos';
    font-size: 12px;
    list-style: none;
    height: 100%;
    display: flex;
        flex-direction: row;
        justify-content: space-around; 
        align-items: center;
    a { color: antiquewhite;
    text-decoration: none; }
    }

li {
    margin-left: 20px;
}

h1 {font-family: 'barroTitulos';

}

footer { display: flex;
    height: 40px;
    flex-direction: row-reverse;
    align-items: flex-end;
    align-items: center;
    padding-right: 20px;
    background-color: #566353;

    }